@media (min-width: 992px) and (max-width: 1200px) {
    .slider-one-bg{
        min-height: 800px;
    }
    .testimonial-img {
        float: unset;
        margin-right: 0px;
        margin-bottom: 15px;
    }
}
@media(max-width:991px){
    .slider-one-bg{
        min-height: 600px;
    }
    .slider-content {
        padding: 100px 0;
    }
    .choose-area{
        text-align: center;
    }
    .choose-img img.paroller:last-child{
        margin-top: -100px;
        margin-left: 200px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {
        padding: 8px;
        border-radius: 2px;
        border: 2px solid #fff;
        width: 45px;
        height: inherit;
        position: relative;
        padding-bottom: 10px;
    }
    .navbar-icon {
        background: #fff;
        height: 3px;
        width: 20px;
        margin: auto;
        margin: 0 4px;
        display: block;
        margin: auto;
        margin-top: 3px;
    }
    ul.navbar-nav {
        background: linear-gradient(to right, #E86A7F 0%, #F18B6F 50%, #E86A7F 100%);
        margin-top: 20px;
        padding: 20px;
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
    .sticky-menu ul.navbar-nav {
        box-shadow: none;
    }
    .main-menu .navbar-nav li.nav-item {
        margin-left: 0;
    }
    .main-menu .navbar-nav li.nav-item {
        margin-left: 0;
        margin: 0 20px;
    }
    .main-menu .navbar-nav li.nav-item:first-child {
        margin-left: 20px;
    }
    .main-menu .navbar-nav li.nav-item a.nav-link {
        font-size: 16px;
        padding: 0;
        color: #fff;
        line-height: 40px;
        font-weight: 500;
    }
    .main-menu .navbar-nav li.nav-item a.nav-link::before {
        bottom: 5px;
        background: #fff;
        width: 25px;
    }
    .sticky-menu .main-menu .navbar-nav li.nav-item a.nav-link {
        padding: 0;
        line-height: 40px;
    }
    .sticky-menu .main-menu .navbar-nav li.nav-item a.nav-link::before {
        bottom: 5px;
    }
    .transparent-menu.sticky-menu {
        padding: 20px 0;
    }
    .transparent-menu {
        padding: 30px 0;
    }
}
@media (max-width: 767px) {
    .navbar-toggler {
        padding: 8px;
        border-radius: 2px;
        border: 2px solid #fff;
        width: 45px;
        height: inherit;
        position: relative;
        padding-bottom: 10px;
    }
    .navbar-icon {
        background: #fff;
        height: 3px;
        width: 20px;
        margin: auto;
        margin: 0 4px;
        display: block;
        margin: auto;
        margin-top: 3px;
    }
    ul.navbar-nav {
        background: linear-gradient(to right, #E86A7F 0%, #F18B6F 50%, #E86A7F 100%);
        margin-top: 20px;
        padding: 20px;
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
    .sticky-menu ul.navbar-nav {
        box-shadow: none;
    }
    .main-menu .navbar-nav li.nav-item {
        margin-left: 0;
    }
    .main-menu .navbar-nav li.nav-item {
        margin-left: 0;
        margin: 0 10px;
    }
    .main-menu .navbar-nav li.nav-item:first-child {
        margin-left: 10px;
    }
    .main-menu .navbar-nav li.nav-item a.nav-link {
        font-size: 16px;
        padding: 0;
        color: #fff;
        line-height: 40px;
        font-weight: 500;
    }
    .main-menu .navbar-nav li.nav-item a.nav-link::before {
        bottom: 5px;
        background: #fff;
        width: 25px;
    }
    .sticky-menu .main-menu .navbar-nav li.nav-item a.nav-link {
        padding: 0;
        line-height: 40px;
    }
    .sticky-menu .main-menu .navbar-nav li.nav-item a.nav-link::before {
        bottom: 5px;
    }
    .transparent-menu.sticky-menu {
        padding: 20px 0;
    }
    .transparent-menu {
        padding: 30px 0;
    }
    .slider-overflow {
        padding-top: 160px;
        padding-bottom: 80px;
    }
    .slider-one-bg {
        min-height: 822px;
    }
    .slider-content h2 {
        font-size: 40px;
    }
    .testimonial-img {
        float: unset;
        margin-bottom: 20px;
    }
}
